$backgroundColor: black;



// colors blue
$blue-Linkblue:#3D3BFF;
// colors orange
$orange-0:#FFEEE3;
$orange-100:#FFDAC4;
$orange-200:#FFC8A6;
$orange-300:#FFB88C;
$orange-400:#FFAB77;
$orange-500:#FFA268;
$orange-600:#FF9B5C;
$orange-700:#FF9654;
$orange-800:#FF934F;
$orange-900:#FF914C;
// colors black
$black-0:#F7F7F7;
$black-100:#F3F2F2;
$black-200:#EAE9E9;
$black-300:#DDDCDC;
$black-400:#CBC9C9;
$black-500:#B1B0B0;
$black-600:#8F8E8E;
$black-700:#656464;
$black-800:#333333;
$black-text:#151619;
$black-900:#000000;
// colors grey
$grey-0:#FFFFFF;
$grey-100:#FEFEFE;
$grey-200:#FDFDFD;
$grey-300:#FBFBFB;
$grey-400:#F8F8F8;
$grey-500:#F4F4F4;
$grey-600:#EFEFEF;
$grey-700:#E8E8E8;
$grey-800:#E1E1E1;
$grey-900:#D9D9D9;

// Размеры экрана
$hug-large: 1116px;
$hug-medium: 936px;
$hug-small: 696px;
$hug-xsmall: 516px;
$hug-xxsmall: 351px;


// Размеры текстов
$h1-size:56px;
$h2-size:36px;
$h3-size:32px;
$h4-size:28px;
$h5-size:24px;
$h6-size:20px;
$body-18:18px;
$body-16:16px;
$body-14:14px;
$body-12:12px;
$button-16:16px;